<%- include('header', {active : ''}) -%>
<main class="container ">
  <div class="addnew d-flex justify-content-end mb-3">
    <a href="/offer/<%=canteen._id%>/new" class="btn btn-primary">Add new dish</a>
  </div>
  <div class="row" id="offers-row">
    <div class="col-12" id="offer-table">
      <table class="table table-bordered table-striped">
        <tr>
          <th>
            Dish
          </th>
          <th>
            Price(in Ft)
          </th>
          <th>
            Description
          </th>
          <th>
            Order
          </th>
          <th>
            &nbsp;
          </th>
        </tr>
        <% offers.forEach(function(offer){ %>
          <tr>
            <td>
              <%= offer.name %>
            </td>
            <td>
              <%= offer.price %>
            </td>
            <td>
              <%= offer.description %>
            </td>
            <td>
              <form method="POST" action="/order/new/<%=canteen._id%>/<%=offer._id%>">
                <input type="number" name="db" min="1" max="30" step="1" value="1">
                <button type="submit" class="btn btn-primary">Order</button>
              </form>
            </td>
            <td>
              <a href="/offer/<%=canteen._id%>/edit/<%= offer._id %>" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="/offer/<%=canteen._id%>/del/<%= offer._id %>" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
        <% }); %>
      </table>
    </div>
  </div>
<%- include('footer') -%>